.footer {
    background-color: #002244;
    color: white;
    font-size: 2.5vh;
    font-family: 'Poppins';
    width: 100%;
    position: relative;
    left: 0;
    right: 0;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center; 
    padding: 0;
    box-sizing: border-box; 
  }
  
  .footer .container {
    max-width: 100%;
  }
  
  .footer p {
    margin: 0;
  }
  