.navbar {
    overflow-x: hidden;
    background-color: #002244;
  }
  
  .logo {
    width: 10vh;
    margin-right: 20px;
    margin-left: 20px;
  }
  
  .nav-link {
    text-decoration: none;
    font-family: 'Poppins';
 
    color: white;
    font-size: 3vh;
  }
  
  .nav-link.hovered {
    color: blue;
  }
  